project_name: "taskcluster-auth"
secrets:
  aws_access_key_id: ".Values.awsAccessKeyId"
  aws_region: ".Values.awsRegion"
  aws_secret_access_key: ".Values.awsSecretAccessKey"
  azure_account: ".Values.tfAzureAccount"
  azure_accounts: "" # FIXME this was "${jsonencode(map( "${azurerm_storage_account.base.name}", "${azurerm_storage_account.base.primary_access_key}",))}"
  azure_account_key: ".Values.azureAccountKey"
  azure_crypto_key: ".Values.authAzureCryptoKey"
  azure_signing_key: ".Values.authAzureSigningKey"
  force_ssl: "false"
  lock_roles: "false"
  monitoring_enable: "true"
  node_env: "production"
  owner_email: "bstack@mozilla.com" #FIXME should probably be cloudops
  profile: "production"
  publish_metadata: "false"
  pulse_hostname: ".Values.pulseHostname"
  pulse_password: ".Values.authPulsePassword"
  pulse_username: ".Values.authPulseUsername"
  pulse_vhost: ".Values.pulseVhost"
  sentry_api_key: ".Values.sentryApiKey"
  sentry_auth_token: ".Values.sentryAuthToken"
  sentry_dsn: ".Values.sentryDsn"
  trust_proxy: "true"
  websocktunnel_secret: ".Values.websocktunnelSecret"
        
deployments:
  - service_name: "auth"
    docker_image: ".Values.dockerImage"
    proc_name: "web"
    readiness_path: "/api/auth/v1/ping"
    root_url: ".Values.rootUrl"
    secret_name: "taskcluster-auth"
cronjobs:
  - service_name: "auth"
    deadline_seconds: 86400
    docker_image: ".Values.dockerImage"
    job_name: "purgeExpiredClients"
    root_url: ".Values.rootUrl"
    schedule: "0 0 * * *"
    secret_name: "taskcluster-auth"
